Repository mirceanton/external-dns-provider-mikrotik, pull requests merged in 2025-01, with the labels that each got.

#164 fix: Webhook cannot import records with regexp
  go.sum
  internal/mikrotik/record.go
  internal/mikrotik/record_test.go
Labels: area/go, size/M, issue/bug

#168 chore(docs): Update README
  LICENSE
  README.md
Labels: size/M, issue/chore

#173 feat: Add default tll for record
  README.md
  example/values.yaml
  internal/dnsprovider/dnsprovider.go
  internal/mikrotik/client.go
  internal/mikrotik/client_test.go
  internal/mikrotik/provider.go
  internal/mikrotik/provider_test.go
Labels: area/go, size/L

#180 feat: Add support for setting a default comment to all records that do not have one set
  README.md
  example/values.yaml
  go.sum
  internal/mikrotik/client.go
  internal/mikrotik/client_test.go
  internal/mikrotik/provider.go
  internal/mikrotik/provider_test.go
Labels: area/go, size/XL, issue/feature

#181 fix: Provider-specific configuration from other eDNS instances are causing errors
  README.md
  example/ingress/sample.yaml
  internal/mikrotik/record.go
  internal/mikrotik/record_test.go
Labels: area/go, size/M, issue/bug
